html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body { 
    position: relative;
    background-color: #323232;
}

/* Across Site Style Rules */
h1,
h2,
h3 {
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #daa520;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    font-family: "Noto Sans Jp", sans-serif;
    color: #fafafa;
}

a {
 color: #daa520;
}

a:hover {
    color: #fafafa;
}

hr {
    border: 2px solid #daa520;
}

mark {
    background-color: #daa520;
}

em {
    color: #daa520;
}

i {
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
}

/* The Navigation Bar */
.nav-container {
    padding: 0;
}
.navbar {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
    width: 100vw;
    height: auto;
    position: fixed; 
    z-index: 99;
}

@media screen and (max-width: 992px) {
    .navbar {
        position: relative;
    }
}

.navbar .logo-title {
    font-family: "Just Another Hand", cursive;
    font-size: 30px;
    text-decoration: none;
    color: #daa520;
    text-shadow: 0.5px 0.5px #fafafa;
    letter-spacing: 4px;
}

.navbar-toggler i {
    color: #daa520;
    text-shadow: none;
}

.navbar .collapse .navbar-collapse {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
}

.navbar .nav-link {
    color: #fafafa;
    font-weight: 600;
    margin: 0 15px 0 15px;
    letter-spacing: 2px;
}

.navbar .nav-link i {
    color: #fafafa;
    text-shadow: none;
}

.navbar .nav-link:hover {
    background-color: #daa520;
    border-radius: 10px;
}

/* --- Cover Image */
#cover-bg-img {
    height: 60vh;
    width: 100vw;
    margin-right: 0;

    background-image: url("../images/other-vegan-pancakes.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


#cover-img-container {
    height: 60vh;
    width: 100vw;

    margin-right: 0;
}

/* ------- Cover Img CTA btn  ---- */

.order-cta-container {
    background-color: #323232;
    opacity: 0.9;
    color: #daa520;
    border: 1px solid #daa520;
    position: absolute;

}

.order-cta-container .btn, .btn-dark {
    background-color: #daa520;
    color: #fafafa;
    border: 2px solid #fafafa;
    font-weight: 700;
    letter-spacing: 2px;
    
}

.order-cta-container .btn:hover {
    background-color: #fafafa;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.order-cta-container i {
    color: #fafafa;
    text-shadow: 1px 1px #323232;
}

.order-cta-container .btn:hover i {
    color: #daa520;
    text-shadow: 1px 1px #323232;
}

/* ------- Cover Img CTA btn  ---- */

.order-cta-container {
    background-color: #323232;
    opacity: 0.9;
    color: #daa520;
    border: 1px solid #daa520;
    position: absolute;

}

.order-cta-container .btn, .btn-dark {
    background-color: #daa520;
    color: #fafafa;
    border: 2px solid #fafafa;
    font-weight: 700;
    letter-spacing: 2px;
    
}

.order-cta-container .btn:hover {
    background-color: #fafafa;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.order-cta-container i {
    color: #fafafa;
    text-shadow: 1px 1px #323232;
}

.order-cta-container .btn:hover i {
    color: #daa520;
    text-shadow: 1px 1px #323232;
}

/* --- Bio */
.short-bio {
    background-color: #323232;
    color: #fafafa;
    border: 1px solid #daa520;
}

/* --- Opening Times */
.opening-bio .opening-times {
    background-color: #323232;
    color: #fafafa;
    border: 1px solid #daa520;
}

/* ------------------------ The Menu ------------- */
.food-and-drinks-menu {
    border: 1px solid #daa520;
    margin-top: 0;
    padding-top: 0;
}

.menu-body {
    background-color: #464646;
    color: #fafafa;
}

.menu-body .menu-title h5 button {
    font-size: 28px;
    font-family: "Just Another Hand", cursive;
    color: #daa520;
    text-shadow: #323232 1px solid;
}

.menu-body h5 {
  color: #daa520;
  letter-spacing: 2px;
  font-size: 24px;
}

.menu-body .btn-link {
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
    font-weight: 700;
}


.menu-body dd {
    color: #daa520;
}

.menu-body .milk-options {
    color: #fafafa;
}

.menu-body .diet-info {
    color: #fafafa;
}

/* Why Visit Us? */

.why-us-container {
    border-width: 0.5px 1px 0.5px 1px;
    border-style: solid;
    border-color:#daa520;
}

.why-us-bg-img {
    background-image: url("../images/dutch-apple-pie.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;  
}

.why-us-title h3 {
    color: #daa520;
    font-weight: 900;
    background-color: #323232;
    border: 1px solid #daa520;  
}

.why-us-container .col {
    border: 2px solid #daa520;
    background-color: #323232;;
    opacity: 0.9;
}

.why-us-container .col i {
    font-size: 42px;
}

/*         Tripadvisor Reviews */
.reviews {
    background-color: #464646;
    color: #fafafa;
    border: 1px solid #daa520;
}

.reviews h4 {
    color: #daa520;
}

/* Reservation Form                      */
.reservation-area {
    background-image: url(../images/blt-scone.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border: 1px solid #daa520;
}

.reservation-area .reservation-title {
    background-color: #323232;
    opacity: 0.9;
}

.reservation-area form {
    background-color: #323232;
    opacity: 0.9;
    color: #daa520;
}

.reservation-area form input {
    border: 2px solid #daa520;
}

.reservation-area select {
    border: 2px solid #daa520;
}

.reservation-area small {
    color: #fafafa;
    opacity: 0.75;
}

.reservation-area form .btn {
    background-color: #daa520;
    border: 1px solid #fafafa;
    color: #fafafa;
    font-weight: 700;
    }

.reservation-area form .btn:hover {
    background-color: #fafafa;
    border: 1px solid #daa520;
    color: #daa520;
    font-weight: 700;
}

/* Newsletter Sign Up Container */
.newsletter-container {
    background-color: #464646;
    border-width: 0.5px 1px 0.5px 1px;
    border-style: solid;
    border-color: #daa520;
    text-align: center;
}

.newsletter-container .newsletter-title {
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
}

.newsletter-container input[type="email"] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #daa520;
}

.newsletter-container input[type="submit"] {
    width: 30%;
    box-sizing: border-box;
    font-weight: 600;
    background-color: #daa520;
    color: #fafafa;
    border: 1px solid #fafafa;
}

.newsletter-container input[type="submit"]:hover {
    background-color: #fafafa;
    color: #daa520;
    border: 1px solid #daa520;
    border-radius: 10px;
}

/* The Student/ Loyalty Container*/
.student-loyalty {
    background-color: #323232;
    border: 1px solid #daa520;
    border-top: none;
}

/* The Student Club */

.student-club-info {
    color: #fafafa;
    border: 1px solid #daa520;
}

/* The Loyalty Card */ 
.loyalty-card-info {
    color: #fafafa;
    border: 1px solid #daa520;
}
/* The Student/ Loyalty Container*/
.promotions {
    border: 1px solid #daa520;
    border-top: none;
}

/* The Student Club */

.student-club-info {
    border: 1px solid #daa520;
}

/* The Loyalty Card */ 
.loyalty-card-info {
    border: 1px solid #daa520;
}

/*          Gallery          */
.gallery-section {
    background-color: #464646;
    border: 1px solid #daa520;
}

#gallery {
    background-color: #464646;
    column-count: 3;
}

@media screen and (max-width: 768px) {
    #gallery {
        column-count: 2;
    }
}

#gallery img {
    max-width: 100%;
    margin: 0.5px;
    border: 1px solid #daa520;
}

.gallery-section h4 {
    color: #fafafa;
}

/* Mobile Gallery Carousel */

.gallery-carousel img {
    width: 100%;
    height: 300px;
}

/*                   Find Us           */
.find-us {
    background-color: #323232;
    color: #fafafa;
    border: 1px solid #daa520;
}

.find-us iframe {
    width: 100%;
    height: 275px;
}

.find-us h3 {
    color: #daa520;
}

.find-us h3 i {
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
}

.find-us hr {
    border: 2px solid #daa520;
}

.find-us h4 {
    color: #daa520;
}
