html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body { 
    position: relative;
    background-color: #323232;
}

/* Across Site Style Rules */
h1,
h2,
h3 {
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #daa520;
    text-transform: capitalize;
}

p {
    font-size: 18px;
    font-family: "Noto Sans Jp", sans-serif;
}

a {
 color: #daa520;
}

a:hover {
    color: #fafafa;
}

hr {
    border: 2px solid #daa520;
}

mark {
    background-color: #daa520;
}

em {
    color: #daa520;
}

i {
    color: #daa520;
    text-shadow: 1px 1px #fafafa;
}

/* The Navigation Bar */
.nav-container {
    padding: 0;
}
.navbar {
    border: 1px solid #daa520;
    width: 100vw;
    height: auto;
    position: fixed; 
    z-index: 99;
}

@media screen and (max-width: 992px) {
    .navbar {
        position: relative;
    }
}

.navbar .logo-title {
    font-family: "Just Another Hand", cursive;
    font-size: 30px;
    text-decoration: none;
    color: #daa520;
    text-shadow: 0.5px 0.5px #fafafa;
    letter-spacing: 4px;
}

.navbar-toggler i {
    color: #daa520;
    text-shadow: none;
}

.navbar .collapse .navbar-collapse {
    background-color: #323232;
    opacity: 0.9;
    border: 1px solid #daa520;
}

.navbar .nav-link {
    color: #fafafa;
    font-weight: 600;
    margin: 0 15px 0 15px;
    letter-spacing: 2px;
}

.navbar .nav-link i {
    color: #fafafa;
    text-shadow: none;
}

.navbar .nav-link:hover {
    background-color: #daa520;
    border-radius: 10px;
}

/* --- Cover Image */
#cover-bg-img {
    height: 60vh;
    width: 100vw;
    margin-right: 0;

    background-image: url("../images/other-vegan-pancakes.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


#cover-img-container {
    height: 60vh;
    width: 100vw;

    margin-right: 0;
}
